Proxy MAY increase Min-SE value or insert a Min-SE header.

Section 8.1 of RFC 4028 says:

"A proxy MUST NOT insert a Min-SE header
field or modify the value of an existing header field in a proxied
request if that request contains a Supported header field with the
value 'timer'."

It should say:
"A proxy MAY insert a Min-SE header
field or increase the value of an existing header field in a proxied
request."

Suggested by: OKUMURA Shinji
E-mail: https://www.ietf.org/mail-archive/web/sipcore/current/msg09160.html